:host {
  display: block;
  background-color: lightcyan;
  height: 100vh;
  width: 100%;
  position: relative;
  cursor: none;
  overflow: hidden;
  user-select: none;
}

.absolute {
  position: absolute;
}

.enemy {
  width: 20px;
  height: 20px;
  border-radius: 25%;
  background-color: #3a7be0;
}

.player {
  width: 64px;
  height: 64px;
  border-radius: 25%;
  background: url("/assets/mainship.png") 0 -75px no-repeat;
}

.player.left {
  background: url("/assets/mainship.png") -64px -75px no-repeat;
}

.player.right {
  background: url("/assets/mainship.png") -196px -9px no-repeat;
}

.shot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
}
