Kills: {{ game.kills }} Deaths: {{ game.deaths }} Enemies: {{ game.enemies.length }} Shots: {{ game.shots.length }}
<div class="absolute player"
     [class.left]="game.player.direction === -1"
     [class.right]="game.player.direction === 1"
     [style.left.px]="game.player.x"
     [style.top.px]="game.player.y"></div>
<div *ngFor="let enemy of game.enemies" class="absolute enemy" [style.left.px]="enemy.x" [style.top.px]="enemy.y"></div>
<div *ngFor="let shot of game.shots" class="absolute shot" [style.left.px]="shot.x" [style.top.px]="shot.y"></div>
