<section class="states">
  <span>Punkte: {{ game.kills }}</span>
  <span>Leben: {{ 1000 - game.deaths }}</span>
</section>

<div id="clouds">
  <div class="cloud x1"></div>
  <div class="cloud x2"></div>
  <div class="cloud x3"></div>
  <div class="cloud x4"></div>
  <div class="cloud x5"></div>
</div>

<div class="absolute player"
     [class.left]="game.player.direction === -1"
     [class.right]="game.player.direction === 1"
     [style.left.px]="game.player.x"
     [style.top.px]="game.player.y"></div>
<div *ngFor="let enemy of game.enemies" class="absolute enemy" [style.left.px]="enemy.x" [style.top.px]="enemy.y"></div>
<div *ngFor="let shot of game.shots" class="absolute shot" [style.left.px]="shot.x" [style.top.px]="shot.y"></div>
<div *ngFor="let collectable of game.collectable"
     class="absolute collectable"
     [style.left.px]="collectable.x"
     [style.top.px]="collectable.y"></div>
